In [18]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
pip install yfinance

Requirement already satisfied: yfinance in c:\users\e5440o\anaconda3\lib\site-packages (0.1.70)
Requirement already satisfied: requests>=2.26 in c:\users\e5440o\anaconda3\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: numpy>=1.15 in c:\users\e5440o\anaconda3\lib\site-packages (from yfinance) (1.20.3)
Requirement already satisfied: lxml>=4.5.1 in c:\users\e5440o\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: pandas>=0.24.0 in c:\users\e5440o\anaconda3\lib\site-packages (from yfinance) (1.3.4)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\e5440o\anaconda3\lib\site-packages (from yfinance) (0.0.10)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\e5440o\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\e5440o\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\e5440o\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\e5440o\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\e5440o\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\e5440o\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\e5440o\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import yfinance as yf

In [19]:
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

data=requests.get(url).text

In [20]:
soup=BeautifulSoup(data,'html5lib')

In [21]:
#Using Ticker
Netflix=yf.Ticker("NFLX")
data=Netflix.history(period="max")
data.reset_index(inplace=True)
data.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
4996,2022-03-28,375.230011,380.279999,366.730011,378.510010,4323400,0,0.0
4997,2022-03-29,384.390015,396.500000,380.329987,391.820007,5880700,0,0.0
4998,2022-03-30,389.549988,392.700012,378.630005,381.470001,4023300,0,0.0
4999,2022-03-31,383.589996,384.000000,373.609985,374.589996,4134700,0,0.0
5000,2022-04-01,376.799988,380.869995,368.500000,373.470001,4639800,0,0.0

In [10]:
#using DataFrame
Netflix_data=pd.DataFrame(columns=['Date','Open','High','Low','Close','Volume'])

for row in soup.find('tbody').find_all('tr'):
        col=row.find_all('td')
        Date=col[0].text
        Open=col[1].text
        High=col[2].text
        Low=col[3].text
        Close=col[4].text
        Volume=col[5].text
        Netflix_data=Netflix_data.append({"Date":Date,"Open":Open,'High':High,'Low':Low, 'Close':Close,'Volume':Volume}, ignore_index=True)

Netflix_data

            Date    Open    High     Low   Close  Volume
0   Jun 01, 2021  504.01  536.13  482.14  528.21  528.21
1   May 01, 2021  512.65  518.95  478.54  502.81  502.81
2   Apr 01, 2021  529.93  563.56  499.00  513.47  513.47
3   Mar 01, 2021  545.57  556.99  492.85  521.66  521.66
4   Feb 01, 2021  536.79  566.65  518.28  538.85  538.85
..           ...     ...     ...     ...     ...     ...
65  Jan 01, 2016  109.00  122.18   90.11   91.84   91.84
66  Dec 01, 2015  124.47  133.27  113.85  114.38  114.38
67  Nov 01, 2015  109.20  126.60  101.86  123.33  123.33
68  Oct 01, 2015  102.91  115.83   96.26  108.38  108.38
69  Sep 01, 2015  109.35  111.24   93.55  103.26  103.26

[70 rows x 6 columns]

In [11]:
#using read_html method
Netflixhtml=pd.read_html(url)

In [12]:
read_html_pandas_data = pd.read_html(str(soup))

In [13]:
netflix_dataframe = read_html_pandas_data[0]

In [14]:
netflix_dataframe

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jun 01, 2021",504.01,536.13,482.14,528.21,528.21,78560600
1,"May 01, 2021",512.65,518.95,478.54,502.81,502.81,66927600
2,"Apr 01, 2021",529.93,563.56,499.00,513.47,513.47,111573300
3,"Mar 01, 2021",545.57,556.99,492.85,521.66,521.66,90183900
4,"Feb 01, 2021",536.79,566.65,518.28,538.85,538.85,61902300
...,...,...,...,...,...,...,...
66,"Dec 01, 2015",124.47,133.27,113.85,114.38,114.38,319939200
67,"Nov 01, 2015",109.20,126.60,101.86,123.33,123.33,320321800
68,"Oct 01, 2015",102.91,115.83,96.26,108.38,108.38,446204400
69,"Sep 01, 2015",109.35,111.24,93.55,103.26,103.26,497401200
70,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [30]:
#Neflix Revenue

url="https://www.macrotrends.net/stocks/charts/NFLX/netflix/revenue"

ndata=requests.get(url).text

In [31]:
bsoup=BeautifulSoup(ndata,'html5lib')

In [112]:
df=pd.DataFrame(columns=['Date','Amount in USD'])

for i in bsoup.find_all('table'):
    if("Netflix Quarterly Revenue" in i.find('th').text):

                row=i.find_all("tr")
                
                for r in row:
                    col=r.find_all("td")
                    if col!=[]:
                        date=col[0].text
                        amount=col[1].text
                        df=df.append({'Date':date,'Amount in USD':amount},ignore_index=True)
                
df

          Date Amount in USD
0   2021-12-31        $7,709
1   2021-09-30        $7,483
2   2021-06-30        $7,342
3   2021-03-31        $7,163
4   2020-12-31        $6,644
5   2020-09-30        $6,436
6   2020-06-30        $6,148
7   2020-03-31        $5,768
8   2019-12-31        $5,467
9   2019-09-30        $5,245
10  2019-06-30        $4,923
11  2019-03-31        $4,521
12  2018-12-31        $4,187
13  2018-09-30        $3,999
14  2018-06-30        $3,907
15  2018-03-31        $3,701
16  2017-12-31        $3,286
17  2017-09-30        $2,985
18  2017-06-30        $2,785
19  2017-03-31        $2,637
20  2016-12-31        $2,478
21  2016-09-30        $2,290
22  2016-06-30        $2,105
23  2016-03-31        $1,958
24  2015-12-31        $1,823
25  2015-09-30        $1,738
26  2015-06-30        $1,645
27  2015-03-31        $1,573
28  2014-12-31        $1,485
29  2014-09-30        $1,409
30  2014-06-30        $1,340
31  2014-03-31        $1,270
32  2013-12-31        $1,175
33  2013-09-30        $1,106
34  2013-06-30        $1,069
35  2013-03-31        $1,024
36  2012-12-31          $945
37  2012-09-30          $905
38  2012-06-30          $889
39  2012-03-31          $870
40  2011-12-31          $876
41  2011-09-30          $822
42  2011-06-30          $789
43  2011-03-31          $719
44  2010-12-31          $596
45  2010-09-30          $553
46  2010-06-30          $520
47  2010-03-31          $494
48  2009-12-31          $445
49  2009-09-30          $423
50  2009-06-30          $409
51  2009-03-31          $394